{# Done by Mata #}

{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="form-group">
            <select class="form-control" name="symbol" placeholder="Stock">
                {% for row in range(items) %}
                    <option>{{ symbols[row] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input autocomplete="off" class="form-control" name="shares" placeholder="Number" type="text"/>
        </div>
        <div>
            <button class="btn btn-primary" type="submit">Sell</button>
        </div>
    </form>
{% endblock %}